* {
    color: #353634;
}

.page {
    display: flex;
    flex-direction: row;
    background-color: #fefffe;

    .mainPage {
        max-width: calc(100vw - 250px);
        flex-basis: calc(100vw - 250px);
        background-color: #f8fbfd;

        .content {
            max-width: calc(100vw - 350px);
            padding: 50px;
            flex-basis: calc(100vw - 350px);
            background-color: #f8fbfd;
        }
    }
}

body.exporting *:focus,
body.exporting .MuiTouchRipple-root {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

body.exporting .MuiTouchRipple-root {
    display: none !important;
}