* {
    color: var(--mui-palette-text-primary);
    scrollbar-color: var(--mui-palette-text-primary) var(--mui-palette-background-paper);
}

.page {
    display: flex;
    flex-direction: row;
    background-color: var(--mui-palette-background-default);

    .mainPage {
        max-width: calc(100% - 250px);
        flex-basis: calc(100% - 250px);
        background-color: var(--mui-palette-background-paper);

        .content {
            max-width: calc(100% - 100px);
            padding: 50px;
            flex-basis: calc(100% - 100px);
            background-color: var(--mui-palette-background-paper);
        }
    }
}

body.exporting *:focus,
body.exporting .MuiTouchRipple-root {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

body.exporting .MuiTouchRipple-root {
    display: none !important;
}