.search {
    width: 35%;
    margin-left: 25px !important;
    background-color: var(--mui-palette-background-paper);
    border-color: var(--mui-palette-background-paper);

    .btn {
        min-width: 40px;
        height: 40px;
        max-width: 40px;
        margin: 0 !important;
        border-radius: 0 10px 10px 0 !important;
        border: none !important;

        .icon {
            margin: 0 !important;
            font-size: 24px !important;
            color: var(--mui-palette-text-primary);
        }
    }
}